.hero {

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.375em 0.75em;
  text-align: center;
  gap: 2em;
}

.title {
  font-size: 2.25em;
  font-weight: 600;
  letter-spacing: 0%;
  color: var(--color-color-dark-gray);
}

.text {
  width: 356px;
  margin: auto;
  font-size: 0.875em;
  text-align: justify;
  color: var(--color-color-black);
}

.button {
  width: 13.375em;
  height: 3.063em;
  
  background: var(--color-color-violet);
  color: var(--color-color-white);

  border: none;
  padding: 0.688em 5.375em;
  border-radius: 0.5em;
}
