.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    position: relative;
}

.content img {
    max-width:20rem;

    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    z-index: 1;
}

.content::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    pointer-events: none;
    border-radius: 0.5rem;
    z-index: 1;
    transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
    visibility: visible;
    opacity: 1;

    max-width: 20rem;
    max-height: 18rem;
    margin-top: 6rem;
}

.content:has(img:hover)::after {
    visibility: hidden;
    opacity: 0;
}

.content h2 {
    font-size: 3rem;
    font-weight: 600;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease-out, visibility 0.4s ease-out;

    margin: -5.8rem 6rem 0 0;
}

.content:has(img:hover) h2 {
    visibility: hidden;
    opacity: 0;
}

.content p {
    text-align: left;
    font-weight: 500;
    z-index: 1;
    position: absolute;
    visibility: hidden;
    padding: 0.75rem;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    color: var(--color-white);

    max-width: 18rem;
    height: 24rem;
    font-size: 1.475rem;
}

.content:has(img:hover) p {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    animation: scaleUp 0.4s ease-in-out forwards;
}

.backgroundImage {
    width: 100%;
    height: auto;
    position: relative;

    max-width: 32rem;
    max-height: 12rem;
    margin-left: 8rem;
    margin-top: -8rem;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .content img {
        width: 18rem;
        height: 24rem;
    }

    .content::after {
        width: 18rem;
        height: 6.4rem;
        margin-top: 17.6rem;
    }

    .content h2 {
        margin: -6rem 0 0 -3rem;
    }

    .content p {
        padding: 1rem;
        height: 24rem;
        font-size: 1.425rem;
    }

    .backgroundImage {
        max-width: 32rem;
        max-height: 12rem;
        margin-left: 8rem;
        margin-top: -8rem;
    }
}

@media (max-width: 640px) {
    .content img {
        width: 10rem;
        height: 12rem;
    }

    .content::after {
        width: 10rem;
        height: 6.4rem;
        margin-top: 6rem;
    }

    .content h2 {
        font-size: 1.4rem;
        margin: -4rem 0 0 -3.4rem;
    }

    .content p {
        max-width: 9rem;
        height: 11.4rem;
        font-size: 0.675rem;
    }

    .backgroundImage {
        max-width: 10rem;
        max-height: 8rem;
        margin-left: 4rem;
        margin-top: -6rem;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}